.contenedor_preguntas{
    margin-left: 100px;
    margin-right: 100px;
}
.preguntas  {
    width: 100%;
}
.preguntas-faq {
    box-shadow: 0 0 15px -1px rgba(255, 15, 15, 0.1);
    padding: 30px;

}
.preguntas-faq .titulo-faq {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}
.preguntas-faq .casilla-faq {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
    margin-bottom: 20px;
    border-radius: 10px;
}
.preguntas-faq .casilla-faq .pregunta {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(43, 51, 122, .1);
    padding: 20px 20px 20px 80px;
    transition: .4s;
}
.preguntas-faq .casilla-faq .pregunta .mas {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
    width: 40px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: 4s;
}
.preguntas-faq .casilla-faq .pregunta .mas:hover {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.4);
}
.preguntas-faq .casilla-faq .pregunta span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: 10px;
    opacity: .1;
}
.preguntas-faq .casilla-faq .respuesta {
    position: relative;
    padding: 0 20px 0 80px;
    overflow: hidden;
    height: 0; 
    transition: .4s;
}
.preguntas-faq .casilla-faq .respuesta p {
    font-size: 1.3rem;
}
.preguntas-faq .casilla-faq .respuesta span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: 10px;
    opacity: .1;
}

@media screen and (max-width: 800px){
    .contenedor_preguntas{
        margin-left: 0;
        margin-right: 0;
    }
    .preguntas-faq .casilla-faq .pregunta .mas {
        position: relative;
        left: 8px;
    }
}